<head>
  <meta content='text/html; charset=utf8' http-equiv='Content-Type' />
  <title>Takehiro Adachi{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta content='dream as if you live forever, live as if you die today' name='description' />
  <link href='/assets/stylesheet/skeleton/base.css' rel='stylesheet' />
  <link href='/assets/stylesheet/skeleton/layout.css' rel='stylesheet' />
  <link href='/assets/stylesheet/skeleton/skeleton.css' rel='stylesheet' />
  <link href='/assets/stylesheet/main.css' rel='stylesheet' />
  <link href='/assets/stylesheet/pygments.css' rel='stylesheet' />
</head>
