/* line 1, sass/main.sass */
body {
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
}

/* line 6, sass/main.sass */
a {
  color: #333333;
  text-decoration: none;
}
/* line 9, sass/main.sass */
a a:visited {
  color: #333333;
}

/* line 12, sass/main.sass */
h1 {
  font-size: 2em;
}

/* line 15, sass/main.sass */
h2 {
  font-size: 1.8em;
}

/* line 18, sass/main.sass */
h3 {
  font-size: 1.5em;
}

/* line 21, sass/main.sass */
h4 {
  font-size: 1.3em;
}

/* line 24, sass/main.sass */
h5 {
  font-size: 1.1em;
}

/* line 27, sass/main.sass */
a:hover, a:focus {
  color: black;
}

/* line 30, sass/main.sass */
.header {
  text-align: center;
  margin: 15px 0px;
}
/* line 33, sass/main.sass */
.header h1 {
  margin: 0;
  float: left;
}
/* line 36, sass/main.sass */
.header ul {
  float: left;
  margin: 0;
  padding: 20px 0px 9px 20px;
}
/* line 40, sass/main.sass */
.header ul li {
  display: inline;
}

/* line 43, sass/main.sass */
.list {
  margin-bottom: 10px;
}
/* line 45, sass/main.sass */
.list h1 {
  margin-bottom: 7px;
}
/* line 47, sass/main.sass */
.list li {
  padding: 6px 3px;
  margin: 5px 0;
  border-bottom: 1px solid #eeeeee;
}
/* line 51, sass/main.sass */
.list li span {
  float: right;
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 59, sass/main.sass */
.post_content h1 a {
  text-decoration: none;
}
/* line 61, sass/main.sass */
.post_content a {
  text-decoration: underline;
}

/* line 65, sass/main.sass */
.page a {
  text-decoration: underline;
}

/* line 69, sass/main.sass */
#about img {
  height: 203px;
  width: 203px;
  float: left;
}
/* line 73, sass/main.sass */
#about .intro {
  float: left;
  margin-left: 19px;
}
/* line 76, sass/main.sass */
#about .intro li {
  margin-bottom: 5px;
}

/* line 80, sass/main.sass */
.tweet_article img {
  margin-top: 3px;
  width: 10px;
  height: 10px;
}

/* line 86, sass/main.sass */
.highlight {
  margin: 10px 0;
}
/* line 88, sass/main.sass */
.highlight pre {
  background-color: #f8f8f8;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 80%;
  overflow: auto;
}
