/* line 1, sass/main.sass */
body {
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
}

/* line 6, sass/main.sass */
a {
  color: #333333;
  text-decoration: none;
}
/* line 9, sass/main.sass */
a a:visited {
  color: #333333;
}

/* line 12, sass/main.sass */
h1 {
  font-size: 2em;
}

/* line 15, sass/main.sass */
h2 {
  font-size: 1.8em;
}

/* line 18, sass/main.sass */
h3 {
  font-size: 1.5em;
}

/* line 21, sass/main.sass */
h4 {
  font-size: 1.3em;
}

/* line 24, sass/main.sass */
h5 {
  font-size: 1.1em;
}

/* line 27, sass/main.sass */
a:hover, a:focus {
  color: black;
}

/* line 30, sass/main.sass */
.header {
  text-align: center;
  margin-bottom: 15px;
}
/* line 33, sass/main.sass */
.header h1 {
  margin: 0;
  float: left;
}

/* line 37, sass/main.sass */
.list {
  margin-bottom: 10px;
}
/* line 39, sass/main.sass */
.list h1 {
  margin-bottom: 7px;
}
/* line 41, sass/main.sass */
.list li {
  padding: 6px 3px;
  margin: 5px 0;
  border-bottom: 1px solid #eeeeee;
}
/* line 45, sass/main.sass */
.list li span {
  float: right;
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 52, sass/main.sass */
.tweet_article img {
  margin-top: 3px;
  width: 10px;
  height: 10px;
}

/* line 58, sass/main.sass */
.highlight {
  margin: 10px 0;
}
/* line 60, sass/main.sass */
.highlight pre {
  background-color: #f8f8f8;
  padding: 7px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 80%;
}
