= "---"
= "layout: default"
= "---"

{{ content }}

-# %a.tweet_article{ href: "https://twitter.com/intent/tweet?url=/&via=takehiro0740&text=", target: "_blank" }<
-#   %img{ src: "/assets/image/twitter.png" }
-#   Tweet this article
